*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container-postview {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
}

.nav-bar {
    width: 100vw;
    height: 13vh;
    border: 0;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo-div {
    width: 30vw;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}


.logo {
    width: 15vw;
    height: 15vh;
    cursor: pointer;
}

.camera-div {
    /* border: 1px solid black; */
    width: 30vw;
    height: 100%;
    display: grid;
    place-items: center;
}

.camera {
    font-size: 2em;
    cursor: pointer;
}

.post-container {
    /* border: 1px solid black; */
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 5%;
    margin-bottom: 2%;
}


.post-cards {
    border: 1px solid rgb(179, 179, 179); 
    border-radius: 1em;
    width: 50%;
    height: 53vh;
    max-width: 500px;

}

.main-details {
    border: 0;
    /* border-bottom: 1px solid black; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-details-div1 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    padding-left: 10px;
    width: 30%;
}


.user-details-div2 {
     /* border: 1px solid black; */
     display: grid;
     place-items: center;
     width: 10%;
}


.bolder-text {
    font-weight: bold;
}


.lighter-text {
    color: grey;
}

.img {
    width: 100%;
    height: 30vh;
    
}


.activity {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-icons {
    /* border: 1px solid black; */
    width: 30%;
    height: 5vh;
    display: flex;

}

.icon {
    /* border: 1px solid black; */
    height: 100%;
    width: 40%;
    display: grid;
    place-items: center;
    font-size: 2em;
}


.right-date {
    /* border: 1px solid black; */
    width: 30%;
    display: grid;
    place-items: center;
}


.likes {
    /* border: 1px solid black; */
    width: 30%;
    height: 3vh;
    padding-left: 2%;
    margin-top: 1%;
    color: grey;
}

.description {
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 2%;
    margin-top: 3%;
    font-size: 0.9em;

}